* {
  margin: 0;
  padding: 0;
}
//Header
.homepage-header {
  background: #018f94e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-wrapper {
  width: 100px;
  height: 50px;
  background: url("/images/logo.png") no-repeat;
  background-size: 3rem;
  margin-left: 30px;
}
.logo-link {
  display: block;
  width: auto;
}

.home-login-link {
  font-size: 20px;
  margin-left: 10px;
  color: #d41872;
  text-decoration: none;
  margin-right: 10px;
  &:hover {
    color: #c40d35;
  }
}

.header-auth-btn-wrapper {
  display: flex;
}
.header-auth-btn {
  font-size: 20px;
  color: #ffffff;
  background: #fa4299;
  border: none;
  border-radius: 100%;
  padding: 0.4rem;
  margin-left: 4px;
  margin-right: 5px;
  cursor: pointer;
  &:hover {
    background: #00d9ff;
    color: #ffffff;
  }
}
.header-auth-add-btn {
  font-size: 20px;
  color: #000000;
  background: #04ddfa;
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  &:hover {
    background: #00d9ff;
    color: #ffffff;
  }
}

//Header End

//Homepage

.homepage-wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #d3d8db, #e4e5eb);
  position: relative;
  z-index: 1;
}
.homepage-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-content-title-wrapper {
  max-width: 400px;
  margin-left: 50px;
}
.left-content-title {
  color: #ffffff;
}
.home-signup-btn-wrapper {
  text-align: center;
}

.home-signup-btn {
  width: 250px;
  height: 50px;
  background: #08df73;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
  &:hover {
    background: #50c58b;
  }
}

.right-content {
  margin-right: 50px;
}
//Homepage end

// Login page
.login-wrapper {
  width: 100%;
  height: 100%;
  background: url("/images/login-bg.jpg") no-repeat;
}
.login-title {
  text-align: center;
  margin-bottom: 10px;
}
.login-form {
  max-width: 300px;
  margin: auto;
  padding: 15px 0;
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
}

.login-input {
  width: 100%;
  padding: 0.4rem;
  margin-top: 0.5rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #555555;
  font-size: 17px;
  color: #000000;
}
.login-btn {
  width: 100px;
  height: 30px;
  background: #d41872;
  border: none;
  background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  &:hover {
    background: -webkit-linear-gradient(right, #a445b2, #d41872, #fa4299);
    color: #ffffff;
  }
}

.signup-link {
  color: #d41872;
  text-decoration: none;
  font-size: 14px;
}

.error-msg {
  color: red;
}
// Login page End

//for Authorizated homepage

.for-authorizated-wrapper {
  position: relative;
  z-index: 1;
}
.dark {
  width: 100%;
  height: 100%;
  background: #02000180;
  z-index: 15;
}
.create-team-btn {
  max-width: 300px;
  padding: 0.4rem;
  border: none;
  background: #d41872;
  color: #ffffff;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    background: #fa4299;
    color: #000000;
  }
}

.create-team-title {
  color: #ffffff;
  font-size: 24px;
}
.create-team-wrapper {
  width: 100%;
  height: 500px;
  position: absolute; /*it can be fixed too*/
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  margin: auto;
  text-align: center;
  background: #03b9b9;
  animation: first 1s;
  z-index: 17;
}
@keyframes first {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close-create-team-window {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 40px;
  color: #ffffff;
  cursor: pointer;
}

.create-team-main {
  max-width: 400px;
  padding: 15px 10px;
  height: 100%;
  margin: 0 auto;
}
.create-team-input {
  padding: 0.4rem;
  border-radius: 3px;
  width: 100%;
  margin-top: 5px;
}
.create-team-textarea {
  width: 100%;
  margin-top: 5px;
}

.create-new-team-btn {
  padding: 0.5rem;
  width: 100%;
  color: #ffffff;
  background: #08df73;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
  &:hover {
    background: #5067c5;
  }
}

.home-team-title {
  font-size: 20px;
  color: #333333;
  margin-top: 10px;
}

//Create team window end

//User Menu
.user-menu-wrapper {
  max-width: 400px;
  padding: 15px 10px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 15;
  right: 0px;
  top: 10px;
  border-radius: 5px;
}
.user-menu-btn {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
  color: #00d9ff;
  background: #555555;
  margin-top: 5px;
  cursor: pointer;
  &:hover {
    background: #03b9b9;
    color: #ffffff;
  }
}

//Team menu component

.team-menu-wrapper {
  background: #ffffff transparent;
  max-width: 300px;
  margin-left: 15px;
  width: 100%;
  .team-menu-item {
    margin-top: 10px;
    color: #000000;
    width: 100%;
    height: 40px;
    padding-right: 15px;
    cursor: pointer;
    &:hover {
      background: #cec8c8;
    }
    .team-menu-heart {
      font-size: 25px;
      color: #018f94e5;
      margin-right: 10px;
      margin-top: 15px;
    }
  }
}

.team-name-item {
  width: 100%;
  padding: 0.3rem;
  color: #03b9b9;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    background: #cec8c8;
  }
  p {
    font-size: 30px;
    margin-top: 15px;
    margin-right: 5px;
  }
}

//CreateTeamPage
.team-name-icon {
  font-size: 80px;
  margin-top: 10px;
  cursor: pointer;
  color: #f5efef;
}
h2.team-name {
  color: #555555;
  font-size: 23px;
  margin-left: 12px;
  margin-top: 8px;
}

.team-page-btns {
  padding: 0.2rem 0.5rem;
  background: #dfe1e6;
  color: #172b4d;
  font-weight: 600;
  border: none;
  margin-bottom: -2px;
  border: 2px solid #888888;
  border-radius: 3px;
  outline: none;
  &:focus {
    outline: none;
  }
  &:hover {
    background: #a7aaaf;
  }
}
.active-setting {
  background: #ffffff;
  color: #000000;
  // border: 2px solid #888;
  border-bottom: none;
  &:hover {
    background: #ffffff;
    color: #000000;
  }
}

//Board Sittings
.board-card {
  max-width: 300px;
  width: 100%;
  height: 100px;
  background: #d41872;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background: #c40d35;
  }
  h3 {
    color: #ffffff;
    font-size: 18px;
  }
}
.create-new-board {
  max-width: 300px;
  width: 100%;
  height: 100px;
  background: #c4bcbf;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: #cec8c8;
  }
  h3 {
    color: #0051ff;
    font-size: 18px;
    line-height: 72px;
  }
}
